.erp-btn-primary {
    background: #2563EB;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: .2s;
    font-weight: 600;
}

    .erp-btn-primary:hover {
        background: #1D4ED8;
        transform: translateY(-2px);
    }
